body {
	background-image: url('../imgs/vegas.jpg');
}

.table {
	position: relative;
	border: 20px solid black;
	background-color: green;
	width: 1100px;
	height: 560px;
	border-radius: 200px;
	margin: auto;
}


/* ------------------------------- CENTER BETS CSS ------------------------------- */

.centerBets {
	position: absolute;
	border-radius: 20px;
	height: 250px;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -60px;
}

#anySeven {
	position: absolute;
	border: 2px solid white;
	border-color: 20px;
	width: 120px;
	height: 50px;
	left: 21%;
	top: -21%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
}

#hardSix {
	border-top-left-radius: 20px;
	width: 50%;
	height: 19% !important;
}

#hardTen {
	left: 51%;
	width: 49%;
	height: 19% !important;
	border-top-right-radius: 20px;
}

#hardEight {
	top: 20%;
	width: 50%;
}

#hardFour {
	top: 20%;
	left: 51%;
	width: 49%;
}

#hardSix, #hardTen, #hardEight, #hardFour {
	border: 2px solid white;
	position: absolute;
	text-align: center;
	height: 20%;
}

#snakeEyes {
	left: 34%;
}

#midnight {
	left: 68%;
	width: 32% !important;
}

#ace-deuce, #snakeEyes, #midnight {
	position: absolute;
	border: 2px solid white;
	width: 33%;
	height: 20%;
}

#yo {
	position: absolute;
	border: 2px solid white;
	top: 62%;
	width: 100%;
}

#anyCraps {
	position: relative;
	border: 2px solid white;
	width: 100%;
	height: 42px;
	top: 83%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.centerSingleRoll {
	position: absolute;
	border: 2px solid white;
	height: 50px;
	top: 41%;
	margin-top: -1px;
	text-align: center;
}

/* ------------------------------- LEFTSIDE BETS CSS ------------------------------- */
.leftSideBets {
	position: absolute;
	height: 407px;
	width: 400px;
	top: 9%;
	left: 7%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.dontComeBar, .across4, .across5, .across6, .across8, .across9, .across10 {
	position: relative;
	display: inline-block;
	border: 2px solid white;
	width: 11%;
	left: 10%;
	top: 1%;
	margin-left: -2px;
	text-align: center;
	height: 70px;
}


.across10 {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.comeBets {
	position: absolute;
	border: 2px solid white;
	width: 65%;
	height: 150px;
	left: 17%;
	top: 18.7%;
	text-align: center;
	vertical-align: middle;
	line-height: 169px;

}

.fieldBets {
	position: absolute;
	border: 2px solid white;
	height: 118px;
	width: 65%;
	top: 56%;
	left: 17%;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-bottom-left-radius: 10px;
}

/* -------------------------------PASS LINE CSS -------------------------------*/
.verticalPassLineName {
	position: absolute;
	display: inline-flex;
	width: 402px;
	height: 32px;
	transform: rotate(-270deg);
	position: absolute;
	top: 46.4% !important;
	left: -44.8%;
	white-space: nowrap;
	text-align: right;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.verticalDontPassBarName {
	position: absolute;
	display: inline-flex;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	width: 298px;
	height: 28px;
	transform: rotate(-270deg);
	position: absolute;
	top: 51.8%;
	left: -24.3%;
	white-space: nowrap;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.rightBottomDontPassBarName {
	position: absolute;
	display: inline-flex;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	width: 290px;
	height: 27px;
	left: 9.5%;
	top: 85.2%;
	text-align: center;
	border-bottom-left-radius: 10px;
}

.bottomPassLineName {
	position: absolute;
	display: inline-flex;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	top: 100.5%;
	width: 322px;
	height: 31px;
	left: 1.5%;
	top: 92.1%;
	text-align: center;
	border-bottom-left-radius: 10px;
	margin: auto;
}


/* ------------------------------- OTHER CSS -------------------------------*/

#dieOne {
	border: 3px solid gray;
	height: 30px;
	width: 30px;
	position: absolute;
	left: 70%;
	top: 20%;
}

#dieTwo {
	border: 3px solid gray;
	height: 30px;
	width: 30px;
	position: absolute;
	left: 74%;
	top: 20%;
}

.dice {
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
}

#button {
	position: absolute;
	left: 70%;
	top: 30%;
}

#info {
	position: absolute;
	width: 250px;
	height: 250px;
	border: 2px solid white;
	left: 65%;
	top: 40%
}

#results {
	position: absolute;
	width: 250px;
	height: 20px;
	border: 2px solid white;
	left: 65%;
	top: 35%;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
}

.currency {
	position: relative !important;
	display: inline-flex !important;
	height: 30px;
	width: 30px;
	margin: auto;
}

p {
	position: relative;
	margin: 0;
}

.chips {
	position: absolute;
	display: inline-flex;
	width: 30px;
	height: 30px;
}

.name {
	position: absolute;
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	color: white;
	transform: rotate(-8deg);
	left: 45%;
	top: 5%;
	text-decoration: underline;
}









